<html>
    <head>
        <title>Content Aggregator</title>
    </head>
    {% csrf_token %}
    <body>
        <div id="microsoft_container">
            <h2>Microsoft Blog</h2>
            <ul>
                {% for b in microsoft %}
                <li>
                    <a href={{ b.link }} rel="noopener noreferrer" target="_blank"><p>{{ b.title }}</p></a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div id="mlm_container">
            <h2>Machine Learning Mastery Blog</h2>
            <ul>
                {% for b in mlm %}
                <li>
                    <a href={{ b.link }} rel="noopener noreferrer" target="_blank"><p>{{ b.title }}</p></a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </body>
</html>